body {
    background: #0b192f;
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-weight: 300;
    max-width: 1400px;
}

.post-1 {
    background: #b71757;
}

.post-2 {
    background: #0d7e71;
}

.post-3 {
    background: #b1660e;
}

.post-4 {
    background: #d12767;
}

.post-5 {
    background: #2d95bb;
}

* {
    margin: 0;
}

body, ul {
    margin: 0 auto;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

.header, .posts-wrap-all, .news, .footer {
    margin: 0 10px;
}

.header {
    background-color: #162b4d;
    display: flex;
    justify-content: space-between;
    height: 115px;
    padding: 0 60px 0 30px;
    margin-bottom: 20px;
}

.sandwich-button {
    display: none;
}

h2, .logo-travel, .date-column {
    font-weight: 100;
}

.logo-travel {
    display: inline-flex;
    align-items: center;
    font-size: 40px;
}

.logo-blog {
    color: #d12767;
}

.nav-header ul {
    display: inline-flex;
}

.nav-header li {
    color: #fff;
    font-size: 22px;
    list-style: none;
}

.nav-header li a {
    display: inline-flex;
    align-items: center;
    height: 115px;
    padding: 0 25px;
}

.nav-header li a:hover {
    background-color: #3c4d71;
}

.content {
    display: flex;
}

.posts-wrap-all {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.posts:nth-child(odd) .wrap-img {
    float: left;
    width: 50%;
}

.posts:nth-child(odd) .post-wrap {
    width: 50%;
    float: right;
}

.posts:nth-child(odd) .post-wrap .text-column {
    width: 70%;
    float: left;
}

.posts:nth-child(odd) .post-wrap .date-column {
    width: 15%;
    float: right;
}

.posts:nth-child(even) .wrap-img {
    float: right;
    width: 50%;
}

.posts:nth-child(even) .post-wrap {
    width: 50%;
    float: left;
}

.posts:nth-child(even) .post-wrap .text-column {
    width: 70%;
    float: right;
    text-align: right;
}

.posts:nth-child(even) .post-wrap .date-column {
    width: 15%;
}

.posts:last-child .post-wrap {
    width: 100%;
}

.posts:last-child .post-wrap .text-column {
    width: 85%;
    float: left;
}

.posts:last-child .post-wrap .date-column {
    float: right;
    width: 7%;
}

h2 {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 20px;
}

.date-column {
    font-size: 60px;
    line-height: 40px;
    opacity: .3;
    margin-top: 20px;
}

.datetime {
    text-align: center;
}

.month {
    font-size: 30px;
}

.post-wrap-about {
    font-size: 18px;
    line-height: 30px;
    opacity: .5;
}

.post-img, .news-img {
    display: block;
    width: 100%;
}

.post-link-wrap:hover {
    opacity: .4;
}

.news-wrap {
    flex-flow: column wrap;
    width: 40%;
    max-width: 330px;
}

.news {
    background-color: #fff;
    color: #637693;
}

.news-text-column, .text-column {
    padding: 35px;
}

h3 {
    color: #0b192f;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
}

.news-text-column p {
    font-size: 16px;
    line-height: 25px;
    padding-top: 10px;
}

.news:last-child, .footer {
    margin-top: 20px;
}

.footer {
    background-color: #162b4d;
    color: #637693;
    display: inline-flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 5px;
    padding: 30px;
}

.footer-right {
    width: 130px;
}

@media only screen and (max-width: 480px) {
    body {
        min-width: 300px;
    }

    .content, .content .news-wrap {
        display: flex;
        flex-flow: column wrap;
    }

    .content .posts-wrap-all {
        width: inherit;
    }

    .content .posts .post-wrap .text-column h2 {
        font-size: 45px;
        line-height: 45px;
    }

    .content .news-wrap {
        width: 100%;
        max-width: unset;
    }
}

@media only screen and (max-width: 768px) {
    .sandwich-button {
        background-color: #fff;
        display: inline-flex;
        width: 15px;
        height: 1px;
        margin: 1px 0 0;
    }

    .header, .footer {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px;
    }

    .header ul {
        display: none;
    }

    .logo-travel {
        font-size: 35px;
        margin-top: 50px;
    }

    .posts-wrap-all {
        width: 55%;
    }

    .posts-wrap-all, .posts, .content .posts .post-wrap {
        display: flex;
        flex-flow: column wrap;
    }

    .posts .post-link-wrap.wrap-img, .content .posts .post-wrap {
        width: 100%;
    }

    .content .posts .post-wrap .text-column {
        text-align: left;
        width: 85%;
    }

    .content .posts .post-wrap .date-column {
        display: flex;
        font-size: 50px;
        line-height: 35px;
        margin: 20px 40%;
    }

    .date-column span {
        font-size: 25px;
    }

    h2 {
        font-size: 39px;
        line-height: 39px;
    }

    .post-wrap-about {
        font-size: 14px;
        line-height: 23px;
    }

    .news-wrap {
        width: 45%;
    }

    h3 {
        font-size: 24px;
        line-height: 26px;
    }

    .news-text-column p {
        font-size: 13px;
        line-height: 20px;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1400px) {
    h2 {
        font-size: 4vw;
        line-height: 4vw;
    }

    .content .posts-wrap-all .posts .post-link-wrap.wrap-img {
        height: 450px;
        overflow: hidden;
    }

    .content .posts-wrap-all .posts .post-link-wrap.wrap-img .post-img {
        object-fit: cover;
        object-position: center;
        height: fit-content;
    }

    .posts .post-wrap .text-column {
        padding: 2vw;
    }

    .datetime {
        font-size: 4vw;
        line-height: 3vw;
    }

    .month {
        font-size: 2vw;
    }
}