$contentBackground: #21232E;
$fontSourceSansPro: ('Source Sans Pro', sans-serif);
$fontHind: ('Hind', sans-serif);
$fontFresca: ('Fresca', sans-serif);
$font:('Fresca', sans-serif);
$headerImage: url("../img/m-h-night.jpg");
$marginContent: 0 190px 0 190px;
$backgroundButton: #E3AC00;
$buttonFontColor: #ffffff;
$borderRadiusBlocks: 10px;
$borderButtonRadius: 5px;
$colorUnderline: #FF4E33;
$colorBlocks: #3B3F50;
$fontColor: #ffffff;
$fontColorGray: #ADC3CE;
$colorHeaderBlocks: #ffffff;
$gray: #C0C3CE;
$grayBlue: #2C2F3C;
$buttonShadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
$gradient: linear-gradient(45deg, #E3AC00, #922C53);
$fontSizeBody: 20px;
$minWidthAdaptive: 1366px;