$contentBackground: #ffffff;
$fontSourceSansPro: ('Source Sans Pro', sans-serif);
$fontHind: ('Hind', sans-serif);
$fontFresca: ('Fresca', sans-serif);
$font: ('Hind', sans-serif);
$headerImage: url("../img/m-h-day.jpg");
$marginContent: 0 170px 0 170px;
$backgroundButton: #699900;
$buttonFontColor: #ffffff;
$borderRadiusBlocks: 10px;
$borderButtonRadius: 5px;
$colorUnderline: #14A0C7;
$colorBlocks: #21232E;
$fontColor: #2C2F3C;
$fontColorGray: #ADC3CE;
$colorHeaderBlocks: #ffffff;
$gray: #C0C3CE;
$grayBlue: #2C2F3C;
$buttonShadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
$gradient: linear-gradient(45deg, #689806, #2C5AD9);
$fontSizeBody: 20px;
$minWidthAdaptive: 1366px;